.autobox {
  border: thin solid grey;
  display: inline-block;
  text-align: left;
}

/* TEXTAREA */

.autoboxTextarea {
  background-color: white;
  line-height: 15px;
}

.autoboxTextarea.invalid {
  border-color: red !important;
}

/* INPUT */

.autoboxInput {
  background-color: white;
  border: none;
  font-size: 15px;
  min-width: 9px;
  font-family: Courier New, monospace;
  margin-right: 1px;
}

.autoboxInput > * {
  height: 100%;
}

.autoboxInput * {
  padding: 0 !important;
}

.autoboxInput.autoboxLast {
  margin: 0;
}

.dijitTextBox .autoboxInput:only-child {
  /* Ensures that the autobox uses all available space - otherwise the textbox only takes a portion of that available.
  This is only used when a single autobox exists.
   */
  width: 100% !important;
}

.autoboxInput .dijitValidationContainer {
  display: none;
}

.autoboxInputError {
  border-bottom: thin solid red;
  margin-bottom: -1px;
}

.autoboxInputError input {
  /* Doesn't work, but would be perfect! */
  /*-webkit-text-decoration: underline wavy red;*/
  -moz-text-decoration: underline wavy red;
  /*text-decoration: underline solid red;*/
}

/* TOKEN*/

.autoboxToken {
  display: inline-block;

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

  font-family: monospace;
  background-color: #def;
  border: 1px solid #bcd;
  padding: 1px;
  margin-right: 1px;
  color: #222;
  vertical-align: middle;
}

.autoboxToken * {
  vertical-align: middle;
}

.autoboxToken .autoboxLabel {
  display: inline-block;
  font-size: 15px;
  padding-left: 5px;
}

.autoboxToken .autoboxButton {
  display: inline-block;
  width: 14px !important;
  height: 14px !important;
  color: #444;
  cursor: pointer;
  font-weight: 700;
  text-align: center;
  margin-top: -1px;

  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.autoboxToken .autoboxButton:hover {
  background-color: #8ae;
}

.autoboxToken .autoboxDelete {
  background-image: url('../images/x.png');
}

.autoboxToken .autoboxButtonHidden {
  display: none;
}
