<div class="autoboxToken">
  <span data-dojo-attach-point="label" class="autoboxLabel"></span>
  <span data-dojo-attach-point="buttons" class="autoboxButtons">
    <span data-dojo-attach-point="btnDelete" data-dojo-attach-event="onclick: remove"
          class="autoboxButton autoboxDelete" role="button" title="Delete this token"></span>
  </span>
</div>
